<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="dbconn" connectionString="server=knowitrco-11\sqlexpress;database=VeyorDb;uid=app;pwd=app;" />
  </connectionStrings>

  <appSettings>

    <add key="serilog:minimum-level" value="Verbose" />
    
    <add key="serilog:using:file" value="Serilog" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="c:\logs\stinkfoot\veyorproj\log-{Date}.txt" />
    <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="90" />
    <add key="serilog:write-to:RollingFile.restrictedToMinimumLevel" value="Debug" />



    <add key="serilog:using:trace" value="Serilog" />
    <add key="serilog:write-to:Trace" />


    <add key="serilog:using:seq" value="Serilog.Sinks.Seq" />
    <add key="serilog:write-to:Seq.serverUrl" value="http://localhost:5341" />



    
    
    
    <!--<add key="serilog:using:splunk" value="Serilog.Sinks.Splunk.FullNetFx" />
    <add key="serilog:write-to:Splunk.SplunkViaTcp.host" value="127.0.0.1" />
    <add key="serilog:write-to:Splunk.SplunkViaTcp.port" value="8090" />-->
    

  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Serilog.FullNetFx" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>