<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings xdt:Transform="Replace">
    <add name="dbconn" connectionString="" />
  </connectionStrings>

  <appSettings>
    
    <add key="serilog:using:seq" value="Serilog.Sinks.Seq" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="serilog:write-to:Seq.serverUrl" value="" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="serilog:write-to:Seq.apiKey" value="" xdt:Transform="Remove" xdt:Locator="Match(key)" />

    <add key="env" value="" xdt:Transform="Remove" xdt:Locator="Match(key)" />

  </appSettings>

</configuration>