<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings xdt:Transform="Replace">
    <add name="dbconn" connectionString="###dbconn_test###" />
  </connectionStrings>

  <appSettings>

    <add key="serilog:write-to:Seq.serverUrl" value="###seq_serverurl_test###" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="serilog:write-to:Seq.apiKey" value="###seq_api_key_test###" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="env" value="###env_test###" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

  </appSettings>

</configuration>
